
@{
	Layout = null;
}

@model IEnumerable<SportStore.Models.Product>




@Html.ActionLink("Create a Product", "Click_CreateProduct", "Admin", new{}, null)            

@Html.ActionLink("Edit a Product", "Click_EditProduct", "Admin", new{ProductId = Model.Select(m => m.ProductId).FirstOrDefault()}, null)            

@Html.ActionLink("Delete a Product", "Click_DeleteProduct", "Admin", new{ProductId = Model.Select(m => m.ProductId).FirstOrDefault()}, null)            


<table border="1">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Price)</th>
			<th>@Html.DisplayNameFor(model => model.Category)</th>
			<th>@Html.DisplayNameFor(model => model.Name)</th>
			<th>@Html.DisplayNameFor(model => model.Description)</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model){
		<tr>
			<td>@Html.DisplayFor(modelItem => item.Price)</td>
			<td>@Html.DisplayFor(modelItem => item.Category)</td>
			<td>@Html.DisplayFor(modelItem => item.Name)</td>
			<td>@Html.DisplayFor(modelItem => item.Description)</td>
		</tr>
		}
	</tbody>
</table>
